/* General */
* {
  font-family: 'Raleway', sans-serif;
}

body {
  display: flex;
  flex-direction:column;
}

/* Presentacion */
.title {
  text-align: center;
  font-size: 4rem;
  background-color: silver;
}

/* Juego */

#juego {
  display: grid;
  grid-template-columns: 300px 500px 500px;
  grid-template-rows: 1fr 500px;
}

#juego > div {
  margin: 1rem;
  padding: 1rem;
}

#help {
  background-color: slateblue;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  text-align: center;
}

#help-title {
  font-weight: bold;
  font-size: 1.4rem;
}

#help-tip {
  font-size: 1.3rem;
}

#helpStart {
  border: 0;
  width: 10rem;
  height: 3rem;
}

#info {
  background-color: steelblue;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.info-tablero {
  font-weight: bold;
  font-size: 1.4rem;
}

.gameOver {
  font-weight: bold;
  font-size: 3rem;
}

#info-jugador {
  text-align: center;
}

.turno {
  margin: auto;
  background-color: rgb(236, 236, 236);
  opacity: 0.4;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 1px solid black;
}

[turn="true"] {
  background-color: greenyellow;
}

[turn="false"] {
  background-color: rgb(236, 236, 236);
  opacity: 0.4;
}

#boats {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

#myMap {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

#opponentMap {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}


/* Tablero general */

#tableros {
  display: flex;
}

/* Barcos */

#boats {
  background-color: gainsboro;
}

.boat {
  display: flex;
  width: min-content;
}

[moving="false"] {
  margin-bottom: 1rem;
  position: relative;
}

[moving="true"] {
  position: absolute;
}

[row="true"] {
  flex-direction: row;
}

[row="false"] {
  flex-direction: column;
}

.partBoat {
  width: 44px;
  height: 44px;
  border:  solid hsla(0, 0%, 100%, .2);
  box-sizing: border-box;
}

.boat:hover > .partBoat {
  opacity: 0.6;
}

[shooted="damage"] {
  background-color: rgb(241, 107, 80);
}

.b2[valid="true"] {
  background-color: goldenrod;
}

.b3[valid="true"] {
  background-color: greenyellow;
}

.b4[valid="true"] {
  background-color: hotpink;
}

[valid="false"] {
  background-color: rgb(241, 107, 80);
}

[shooted="water"] {
  background-color: gray;
}

/* Mapas */

.map {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  background-color: hsl(200, 100%, 50%);
}

[type = "ocean"] {
  border: 1px solid hsla(0, 0%, 100%, .2);
}

[type = "ocean"]:hover {
  background-color: cadetblue;
}